body {
    background-color: #f5f5f5;
    font-family:Arial, Helvetica, sans-serif;
}
table tr:nth-child(even) td {
    background-color: #f8f;
}
table tr:nth-child(odd) td {
    background-color: #d7d;
}