body {
    background-color: #f5f5f5;
    font-family:Arial, Helvetica, sans-serif;
    color: #444;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#header, #footer, #messages {
    margin: 0;
    padding: 0.5em;
    background: #ccc;
}
#messages {
    background: #4a6;
    padding: 0;
    color: #fff;
}
#messages div.error {
    background: #c42;
    padding: 0.5em;
    color: #fff;

}
#messages div {
    padding: 0.5em;
}
#footer {
    margin-top: auto;
}
table {
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
table tr td, table tr th {
    border: 0;
    border-bottom: 1px;
    border-color: #ccc;
    border-style: solid;
}
table tr th {
    border-bottom: 2px solid;
    border-color: #888;
    color: #111;
}
table tr td, table tr th {
    padding: 0.5em;
    cursor: pointer;
}
#content div, #appendix {
    padding: 0.5em;
    align-items: center;
}
input[type=text], input[type=password], textarea {
    padding: 0.5em;
    border: 0;
    width: 20em;
    border-bottom: 1px;
    border-color: #ccc;
    border-style: solid;    
}
label {
    display: inline-block;
    width: 10em;
    vertical-align: top;
}
table tr th {
    text-align: left;
    background-color: #eee;
}
table tr:nth-child(even) {
    background-color: #fafafa;
}
table tr:nth-child(odd) {
    background-color: #f0f0f0;
}
table tr {
    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}
table tr:nth-child(even):hover {
    background-color: #dadada;
}
table tr:nth-child(odd):hover {
    background-color: #d0d0d0;
}
button, input[type=submit] {
    border: 1px solid #4a6;
    background-color: #fff;
    color: #4a6;
    border-radius: 0.2em;
}
button:hover, input[type=submit]:hover {
    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    cursor: pointer;
    background-color: #4a6;
    color: #fff;
    border: 1px solid transparent;
}
div.pagination a, div.pagination span {
    border: 1px solid #4a6;
    text-decoration: none;
    background-color: #fff;
    color: #4a6;
    padding: 0.1em 0.2em;
    margin: 0;
    border-radius: 0.2em;   
}
div.pagination span.disabled {
    border: 1px solid #aaa;
    background-color: #ddd;
    color: #fff;
}
div.pagination a:hover, div.pagination a.active {
    background-color: #4a6;
    color: #fff;
}