<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="/assets/css/style.css">
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div id="messages">
            {% block messages %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message.code is defined %}
                            <div class="error"><span class="status">{{message.code}}</span> {{message.message}}</div>
                        {% else %}
                            <div class="error">{{message}}</div>
                        {% endif %}
                    {% endfor %}                
                {% endif %}
            {% endblock %}
        </div>
        <div id="header">
            {% block header %}
                {% if user %}
                    <button onclick="location.href='/logout';">logout</button>
                    <strong>{{user.username}}</strong>
                {% else %}
                    <button onclick="location.href='/login';">login</button>
                    <button onclick="location.href='/signup';">signup</button>
                {% endif %}
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="appendix">
            {% block appendix %}
            <button onclick="location.href='/';">back</button>
            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                &copy; 2024 by <a href="https://iovano.de">you</a>.
            {% endblock %}
        </div>
    </body>
</html>
