{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block script %}
    <script>
        async function sendDeleteRequest(id, title = '') {
            if (confirm('Are you sure you want to delete '+(title?'"'+title+'"':'the post')+' (id #'+id+')?')) {
                console.log("delete request for id "+id);
                await fetch('/posts/'+id, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((response)=>{
                    console.log(response.text());
                    window.location = '/';
                });
            }
        }
        function showEntry(id, type = '') {
            if (!type) {
                type = 'posts';
            }
            location.href="/"+type+"/"+id;
        }
        function addRow(data, type = 'posts') {
            const newRow = 
                `<tr>
                    <td>`+data.title+`</td>
                    <td>`+data.username+`</td>
                    <td>`+data.category+`</td>
                    <td>`+(data.media ? `<img src="/media/`+type+`/`+data.id+`" width="100px">` : ``)+`</td>
                    <td>`+data.created_at+`</td>
                    <td>
                        <button onclick="showEntry(`+data.id+`, '`+type+`')">show</button>
                        <button onclick="showEntry('edit/`+data.id+`')">edit</button>
                        <button onclick="sendDeleteRequest(`+data.id+`,'`+data.title+`');">kill</button>
                    </td>
                </tr>`;
            document.getElementById('resultsTable').
            getElementsByTagName('tbody')[0].
            insertAdjacentHTML('beforeend', newRow);
        }
        async function addRows() {
            document.currentPage ++;
            await fetch('/posts?page='+(document.currentPage)+'&per_page=5&filter[category]=', {
                method: 'GET',
                headers: {
                    'Accept': 'application/json'
                }
            }).then(response => response.json())
                .then(data => {
                    const results = data.payload.results;
                    for(result of results) {
                        addRow(result);
                        console.log(result.id);
                    }
                })            
        }
        document.currentPage = parseInt(new URLSearchParams(window.location.search).get('page'));
        window.addEventListener('scroll', function() {
            var windowHeight = "innerHeight" in window ? window.innerHeight : document.documentElement.offsetHeight;
            var body = document.body, html = document.documentElement;
            var docHeight = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight,  html.scrollHeight, html.offsetHeight);
            var windowBottom = windowHeight + window.pageYOffset;

            if (windowBottom >= docHeight) {
                console.log("bottom reached...");
                addRows();
            }
        });
    </script>
{% endblock %}
{% block content %}
    {% if results|length >= 1 %}
        {% if paginator %}
            <div class="pagination">
                {% if paginator.currentPage > 1 %}
                    <a href="/posts?page={{paginator.currentPage - 1}}&per_page={{paginator.perPage}}&filter[category]={{filter.category}}"">&lt;</a>
                {% else %}
                    <span class="disabled">&lt;</span>
                {% endif %}
                {% for i in 1..paginator.pagesAmount %}
                    <a href="/posts?page={{i}}&per_page={{paginator.perPage}}&filter[category]={{filter.category}}" class="{% if i == paginator.currentPage %}active{% endif %}">{{i}}</a>
                {% endfor %}
                {% if paginator.currentPage < paginator.pagesAmount %}
                    <a href="/posts?page={{paginator.currentPage + 1}}&per_page={{paginator.perPage}}&filter[category]={{filter.category}}">></a>
                {% else %}
                    <span class="disabled">></span>
                {% endif %}
                Filter: Category 
                <a href="/posts?filter[category]=A">A</a>
                <a href="/posts?filter[category]=B">B</a>
                <a href="/posts?filter[category]=C">C</a>
                <a href="/posts?filter[category]=">reset</a>
            </div>
        {% endif %}
        <table id="resultsTable">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Image</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            {% for result in results %}
                <tr>
                    <td>{{result.title}}</td>
                    <td>{{result.username}}</td>
                    <td>{{result.category}}</td>
                    <td>
                        {% if result.media %}
                        <img src="/media/{{result.type | default('posts')}}/{{result.id}}" width="100px">
                        {% endif %}
                    </td>
                    <td>{{result.created_at}}</td>
                    <td>
                        <button onclick="showEntry({{result.id}}, '{{result.type}}')">show</button>
                        {% if (user and user.id == result.user) %}
                            <button onclick="showEntry('edit/{{result.id}}')">edit</button>
                            <button onclick="sendDeleteRequest({{result.id}},'{{result.title}}');">kill</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <div>
        <button onclick="location.href='/posts/edit';">add</button>
    </div>

{% endblock %}
{% block appendix %}
    <button onclick="location.href='/';">back</button>
{% endblock %}
