{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div>
        Please sign in
    </div>
    <form action="/" method="POST">
        <div>
            <label for="username">Username / Email</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <div><input type="submit" value="login"></div>
        <input type="hidden" name="action" value="login">
    </form>
{% endblock %}