{% extends "base.html" %}
{% block script %}
    <script>
        async function sendPostLikeRequest(id, method = "PUT") {
            console.log("send like request for post #id "+id);
            var response = await fetch('/posts/'+id+'/like', {
                method: method,
                headers: {
                    'Accept': 'application/json'
                }
            });
            handleResponse(response, true);
        }
    </script>
{% endblock %}

{% block title %}{{result.title}}{% endblock %}
{% block content %}
    <table>
        {% for key, value in result %}
            <tr>
                <td>{{key}}</td>
                <td>{% if key == 'media' %}
                    {% for i, file in value %}
                        <img src="/media/posts/{{result.id}}" width="400px">
                    {% endfor %}
                    {% else %}
                    {{value}}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div>
        {% if result.ilike %}
        <button onclick="sendPostLikeRequest({{result.id}}, 'DELETE');">unlike</button>
        {% else %}
            <button onclick="sendPostLikeRequest({{result.id}}, 'PUT');">like</button>
        {% endif %}
    </div>
{% endblock %}
