{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block header %}
    <button onclick="location.href='/login';">login</button>
{% endblock %}
{% block messages %}
    {% if messages %}
        {% if messages %}
            {% for message in messages %}
                <div class="error">{{message}}</div>
            {% endfor %}
        {% endif %}
    {% else %}
        <div>
            Please register
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <form action="/signup" method="POST" enctype="multipart/form-data">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" value="{{user.email | default(signup.email)}}">
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" value="{{user.username | default(signup.username)}}">
        </div>
        {% if not user %}
            <div>
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
        {% endif %}
        <div>
            <label for="media">Profile Image</label>
            <input type="file" name="media" />
        </div>
        <div><input type="submit" value="signup"></div>
        <input type="hidden" name="model" value="User">
    </form>
{% endblock %}